BNfinder==2.0.4
BeautifulSoup==3.2.1
Cython==0.21
DataShape==0.3.0
Fiona==1.5.1
Flask==0.10.1
Flask-RESTful==0.3.5
GitPython==1.0.1
Jinja2==2.7.3
Klout==0.1.3
Markdown==2.6.2
MarkupSafe==0.23
MySQL-python==1.2.5
PIL==1.1.7
PyAudio==0.2.7
PySAL==1.9.1
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.7
Shapely==1.5.7
Sphinx==1.2.3
Werkzeug==0.9.6
XlsxWriter==0.5.7
abstract-rendering==0.5.1
aniso8601==1.1.0
appnope==0.1.0
argcomplete==0.8.1
astroML==0.3
astropy==0.4.2
atom==0.3.9
backports.ssl-match-hostname==3.4.0.2
basemap==1.0.7
beautifulsoup4==4.3.2
binstar==0.7.1
bitarray==0.8.1
bitlyapi==0.1.1
blaze==0.6.3
blz==0.6.2
bokeh==0.6.1
boto==2.32.1
casuarius==1.1
cdecimal==2.3
census==0.6
cffi==0.8.6
chaco==4.4.1
click==4.0
cligj==0.1.0
colorama==0.3.1
conda==3.8.4
conda-build==1.8.2
conda-env==2.1.0
configobj==5.0.6
cryptography==0.5.4
cytoolz==0.7.0
daemon==1.1
decorator==3.4.0
descartes==1.0.1
docopt==0.6.2
docutils==0.12
enable==4.3.0
enaml==0.9.8
foursquare==20130707
fpconst==0.7.2
future==0.13.1
futures==2.1.6
geocoder==1.3.1
geoip2==2.2.0
geojson==1.0.9
geopy==1.10.0
gevent==1.0.1
gevent-websocket==0.9.3
git-pandas==0.0.6
gitdb==0.6.4
gnureadline==6.3.3
graphviz==0.4.3
greenlet==0.4.4
grin==1.2.1
grip==3.3.0
h5py==2.3.1
hmmlearn==0.2.0
html==1.16
html5lib==0.99999
httplib2==0.9
ipaddr==2.1.11
ipy-progressbar==1.0.6
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.0
jedi==0.8.1-final0
jellyfish==0.2.1
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
keyring==6.1.1
kiwisolver==0.1.3
libpgm==1.3
lifelines==0.7.0.0
llvmpy==0.12.7
lockfile==0.12.2
lxml==3.4.0
matplotlib==1.4.0
maxminddb==1.2.0
mistune==0.5
mock==1.0.1
mpld3==0.2
multipledispatch==0.4.7
mutagen==1.29
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.9.1
nltk==3.0.0
nominatim==0.1
nose==1.3.4
notebook==4.0.6
numba==0.14.0
numexpr==2.3.1
oauthlib==0.7.2
openpyxl==1.8.5
osmapi==0.5.0
overpass==0.1.0
pandas==0.14.1
path-and-address==1.0.0
path.py==8.1.2
patsy==0.3.0
pbr==1.8.1
pdfminer==20140328
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
plotly==1.7.2
ply==3.4
poster==0.8.1
psutil==2.1.1
psycopg2==2.5.1
ptyprocess==0.5
py==1.4.25
pyOpenSSL==0.14
pycosat==0.6.1
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.5
pyface==4.4.0
pyflakes==0.8.1
pymongo==3.0.3
pyparsing==2.0.1
pyshp==1.2.1
pysqlite==2.6.3
pytest==2.6.3
python-daemon==2.1.0
python-dateutil==1.5
pytz==2014.7
pyzipcode==0.4
pyzmq==14.3.1
qtconsole==4.1.0
ratelim==0.1.6
redis==2.9.1
requests==2.5.1
requests-oauthlib==0.4.2
rodeo==0.2.1
rope==0.9.4
runipy==0.1.1
scikit-image==0.10.1
scikit-learn==0.17
scipy==0.15.1
seaborn==0.5.1
simplegeneric==0.8.1
six==1.9.0
sklearn==0.0
smmap==0.9.0
sockjs-tornado==1.0.1
spark-sklearn==0.1.1
spyder==2.3.1
sqlparse==0.1.18
statsmodels==0.5.0
sympy==0.7.5
tables==3.1.1
terminado==0.5
toolz==0.7.0
tornado==4.0.2
traitlets==4.0.0
traits==4.4.0
traitsui==4.4.0
twython==3.2.0
ujson==1.33
unicodecsv==0.9.4
untangle==1.1.0
us==0.9.0
web.py==0.37
wikipedia==1.4.0
wsgiref==0.1.2
xlrd==0.9.3
xlwt==0.7.5
xmltodict==0.9.2
